{
    "$schema": "http://json.schemastore.org/prettierrc",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ["*.scss", "*.css"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
