/**
 * MAP
 *
 * Map Page Layout
 */

/* ------------------------------------ *\
   #MAP
\* ------------------------------------ */
.ms-map {
    .ms-map-global {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: $tab-bar-height;
        height: auto;
    }

    &__title {
        display: none;
    }
}

/* Body class */
.page-template-template-map {
    .ms-header {
        display: none;
    }
}

/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.ms-map {
    &__content {
        background-color: $map-background-color;
        box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: calc(#{$tab-bar-height} + var(--ios-bottom-bar-margin)); // iOS spacing
        height: auto;
        z-index: $z-index-map-page;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
    .is-web {
        .ms-map__content {
            top: $header-height-desktop;
            bottom: 0;
        }
    }
}
