/**
 * SURF SPOT PAGE
 *
 * Surf spot page
 */

/* ------------------------------------ *\
   #SURF-SPOT
\* ------------------------------------ */
.ms-surf-spot {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    box-sizing: border-box;
    padding: 0 0 $space * 2 0;
    margin: 0 auto;

    // Main content.
    &__main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: $page-max-width;
        width: 100%;
        margin: 0 auto;
    }

    // Description.
    &__description {
        @include consistent;
        margin-bottom: $space * 3.5;
        // padding-bottom: $space * 3;
        // border-bottom: 1px solid $color-border-normal;
        @include fix-android-wrong-font-size;

        .ms-body-text {
            margin-bottom: 0;
        }
    }

    // Guide banner
    &__guide-banner {
        margin-bottom: $space * 3.5;
    }
}

/* ------------------------------------ *\
   #COMMENTS
\* ------------------------------------ */
.ms-surf-spot {
    &__comments {
        margin-top: $space * 3;
        padding-top: $space * 3;
        border-top: 1px solid $color-border-normal;
    }

    &__comments-title {
        margin-bottom: $space * 2;
    }
}

/* ------------------------------------ *\
   #FORECAST
\* ------------------------------------ */
.ms-surf-spot {
    &__forecast {
        padding-top: $space * 3;
    }

    &__forecast-chart {
    }

    &__forecast-update {
        margin-bottom: $space * 2;

        .ms-label,
        .ms-value {
            font-size: $font-size-xxs;
        }

        .ms-label {
            margin-right: $space/2;
            text-transform: capitalize;
        }
    }

    .ms-astronomy-table {
        margin-top: $space;
        margin-bottom: $space;
    }

    &__forecast-settings {
        margin-bottom: $space * 3;
    }
}

/* ------------------------------------ *\
   #VIDEOS
\* ------------------------------------ */
.ms-surf-spot {
    &__videos {
        @include consistent;
        margin-top: $space * 3;
    }

    &__videos-video {
        display: block;
    }

    &__videos-image {
        height: 120px;
        margin-bottom: $space * 2;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius;
    }

    &__videos-title {
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        font-size: $font-size-s;
        color: var(--color-text);
        line-height: 1.25;
    }
}

/* Empty video */
.ms-surf-spot {
    &__video-empty {
        text-align: center;
    }
}

/* ------------------------------------ *\
   #LOADING
\* ------------------------------------ */
.ms-surf-spot.is-loading {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    .ms-surf-spot__near-spots,
    .ms-surf-spot__video {
        flex-grow: 1;
    }
}

/* ------------------------------------ *\
   #ERROR
\* ------------------------------------ */
.ms-surf-spot.is-error {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    .ms-surf-spot__title,
    .ms-breadcrumbs {
        display: none;
    }

    .ms-tabs__content {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ms-surf-spot__error {
        margin: $space * 4;
    }

    .ms-surf-spot__error-text {
        text-align: center;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: ($page-max-width + $space * 4)) {
    .ms-surf-spot {
        &__coordinates {
            border-radius: 0 0 $border-radius $border-radius;
        }
    }
}

@media all and (min-width: $breakpoint-desktop) {
    .ms-surf-spot {
        &__coordinates {
            flex-direction: row;
        }

        &__coordinates-actions {
            width: auto;
        }

        &__videos-image {
            height: 220px;
        }

        &__forecast-ics-calendar-image {
            float: left;
            margin-right: $space * 2;
        }

        // Wave direction and swell wind directions.
        &__special-info {
            .ms-label {
                flex: 0 0 auto;
            }
        }
    }
}
