/**
 * SURF SPOT MAP
 *
 * Displays the map of the spot with buttons
 */

/* ------------------------------------ *\
    #SURF SPOT MAP
\* ------------------------------------ */
.ms-surf-spot-map {
    &__map {
        width: 100%;
        overflow: hidden;
        .ms-map-global {
            height: 300px;
        }
    }

    &__coordinates {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: $space;
        margin: 0 0 $space * 3 0;
        padding: $space * 2 $space * 2 $space * 1.5 $space * 2;
        background-color: var(--color-gray-02);
        border-radius: 0;

        .ms-btn {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 10px;
            padding: $space;
            height: auto;

            .ms-surf-spot-map__coordinates-google-icon {
                width: 20px;
                height: 20px;
                margin-right: $space/2;
                background: transparent url('../../assets/google-map-icon.png') center center no-repeat;
                background-size: contain;
            }

            &:first-child {
                margin-right: $space;
            }
        }
    }

    &__coordinates-text {
        font-size: $font-size-s;
        color: var(--color-text);
        @include first-letter-capital;

        .ms-surf-spot__coordinates-lat,
        .ms-surf-spot__coordinates-lng {
            font-weight: $font-weight-bold;
        }
    }

    &__coordinates-actions {
        flex-grow: 1;
        display: flex;
        width: 100%;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: breakpoint-desktop) {
}
