/**
 * BANNER
 *
 * Style for banner component.
 */

/* ------------------------------------ *\
    #BANNER
\* ------------------------------------ */
.ms-banner {
    display: flex;
    align-items: center;
    padding: $space * 2;
    gap: $space * 2;
    background-size: cover;
    background-color: var(--color-first-light);
    border: 2px solid var(--color-first);
    border-radius: $border-radius * 2;
    cursor: pointer;

    &:hover {
        background-color: var(--color-first-light-hover);
    }

    .mondo-icon,
    .mondo-icon:before {
        font-size: $font-size-xxxl-fluid;
        color: var(--color-text-link);
    }

    &__emoji {
        font-size: $font-size-xxl-fluid;
    }

    .ms-banner__texts {
        display: flex;
        flex-direction: column;
        gap: $space * 0.125;
        gap: $space * 0.375;
    }

    .ms-banner__text {
        margin-bottom: 0;
        color: var(--color-text-link);
        line-height: 1.2;
        font-size: $font-size-m-fluid;
    }
    .ms-banner__subtext {
        color: var(--color-text);
        margin-bottom: 0;
        line-height: 1.25;
        font-size: $font-size-s-fluid;
    }
}

/* ------------------------------------ *\
    #FAVORITES
\* ------------------------------------ */
.ms-banner-favorite {
    background-color: var(--color-favourites-light);
    border: 2px solid var(--color-favourites);

    .mondo-icon,
    .mondo-icon:before {
        color: var(--color-favourites);
    }

    &:hover {
        background-color: var(--color-favourites-light-hover);
    }

    .ms-banner__text {
        color: var(--color-favourites);
    }

    &.is-empty {
        background-color: transparent;
        padding: 0 0 0 0;
        border: 0;
        border-bottom: 2px solid $color-border-normal;
        border-radius: 0;
    }
}

/* ------------------------------------ *\
    #WIDGET
\* ------------------------------------ */
.ms-banner-widget {
    background-color: var(--color-forecast-good-light);
    border: 2px solid var(--color-forecast-good);

    &:hover {
        background-color: var(--color-forecast-good-light-hover);
    }

    .ms-banner__text {
        color: var(--color-forecast-good);
    }

    &__image {
        width: 60px;
        height: 60px * 0.68;
        background: transparent url('../assets/widgetIcon.png') center center no-repeat;
        background-size: contain;
    }
}

/* ------------------------------------ *\
    #GET-PRO
\* ------------------------------------ */
.ms-banner-get-pro {
    border: 2px solid var(--color-first);
    color: var(--color-first);

    .ms-banner__text {
        color: var(--color-first);
    }

    .ms-h3-title {
        margin-bottom: $space * 1;
    }

    .ms-banner__texts {
        display: flex;
        flex-direction: column;
    }

    &:hover {
        border: 2px solid var(--color-text-hover);
        color: var(--color-text-hover);

        .ms-banner__text {
            color: var(--color-text-hover);
        }
    }
}

/* ------------------------------------ *\
    #ADD-MISSING-SPOT
\* ------------------------------------ */
.ms-banner-add-missing-spot {
    @include card-box-shadow;
    grid-column: 1 / -1;

    &:hover {
        @include card-box-shadow-hover;
    }
}

/* ------------------------------------ *\
    #CTA STYLE
\* ------------------------------------ */
.ms-banner.ms-banner-cta {
    border: 0;
    background-color: var(--color-first-dark);

    .ms-banner__texts .ms-banner__text {
        color: var(--color-text-inverse);
    }
    .ms-banner__texts .ms-banner__subtext {
        color: var(--color-text-inverse);
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
    .ms-banner-get-pro {
        .ms-h3-title {
            margin-bottom: 0;
        }
        .ms-banner__texts {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $space * 4;
            width: 100%;
            justify-content: space-between;
        }
    }
}
