/**
 * DAY TIDE TABLE
 *
 * Tables displaying the tides of a day */

/* ------------------------------------ *\
   #DAY-TIDE-TABLE
\* ------------------------------------ */
.ms-day-tide-table {
    margin-bottom: $space * 2;

    td {
        &:first-child {
            text-align: center;
            width: 24px;
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
