/**
 * DAY ASTRONOMY TABLE
 *
 * Tables displaying the astronomy of a day */

/* ------------------------------------ *\
   #DAY-ASTRONOMY-TABLE
\* ------------------------------------ */
.ms-day-astronomy-table {
    &__table {
        width: 100%;
        margin-bottom: $space * 2;
        border-collapse: collapse;
        border: 2px solid $color-border-normal;
        border-radius: $border-radius * 2;
    }

    &__td {
        padding: $space/2;
        border: 2px solid $color-border-normal;
        font-size: $font-size-s;
        color: var(--color-text);
    }

    &__icon {
        text-align: center;
        width: 24px;
    }

    &__label {
    }

    &__value {
        font-weight: $font-weight-bold;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
