/* ------------------------------------ *\
   #DELETE ACCOUNT
\* ------------------------------------ */
.ms-delete-account-modal {
    display: flex;
    flex-direction: column;
    gap: $space * 2;

    input[type='text'] {
        width: 100%;
    }
}
