/**
 * FAVOURITES CONTENT
 *
 * Content of the favorites page.
 */

/* ------------------------------------ *\
   #FAVOURITES CONTENT
\* ------------------------------------ */
.ms-favourites-content {
    // Text.
    &__text {
        margin-bottom: $space * 2;
        font-size: $font-size-s;
    }

    // Error text.
    &__error-text {
        margin-bottom: $space * 2;
        font-size: $font-size-s;
    }

    // Empty.
    &__empty-text {
        .mondo-icon {
            @include font-size('xl');
            color: var(--color-favourites);
            vertical-align: middle;
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
