/**
 * FOOTER
 *
 * Footer style
 */

/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */
.ms-footer {
    width: 100%;
    padding: 0 $space * 2;
    box-sizing: border-box;
    background-color: $footer-background-color;
    border-top: 1px solid $color-border-light;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: $space * 2;
        position: relative;
        max-width: $page-max-width;
        padding: $space * 5 0;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-text);
    }

    &__column {
        flex-basis: 1px;
        flex-grow: 2;
    }

    &__column-title {
        margin-bottom: $space * 2.5;
        font-weight: $font-weight-bold;
        font-size: $font-size-l-fluid;
        line-height: 1.1;
    }

    // Lists
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: $space * 2;
        row-gap: $space * 1;
    }

    &__list-spots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $space * 2;
        row-gap: $space * 1;
    }

    &__list-item {
        margin: 0;
        padding: 0;
    }

    &__list-link {
        color: var(--color-text-light);
        font-size: $font-size-m-fluid;

        &:hover {
            color: var(--color-text-link);
        }
    }

    // Bottom
    &__bottom {
        max-width: $page-max-width;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $color-border-normal;
    }

    &__bottom-content {
        max-width: $page-max-width;
        margin: 0 auto;
        padding: $space * 2 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-main {
        color: var(--color-text-light);
        font-size: $font-size-xxs-fluid;
    }

    &__bottom-secondary {
        color: var(--color-text-light);
        font-size: $font-size-xxs-fluid;

        a {
            color: var(--color-text-light);

            &:hover {
                color: var(--color-text-link);
            }
        }
    }
}
