/**
 * HEADER USER
 *
 * User details or login button in the header.
 *
 */

/* ------------------------------------ *\
   #HEADER-USER
\* ------------------------------------ */
.ms-header-user {
    padding: $space * 0.5 0 0 $space * 1;

    a {
        display: flex;
        gap: $space;
    }

    // User image
    &__item-user-image {
        width: 24px;
        height: 24px;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        background-color: var(--color-gray-03);
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
    .ms-header-user {
    }
}
