/**
 * INNER-HEADER
 *
 * Header with breadcrumbs, page title, button
 */

/* ------------------------------------ *\
    #COUNTRY-REGION-HEADER
\* ------------------------------------ */
.ms-inner-header {
    margin-bottom: $space * 2.5;

    &__title-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $space * 1.5;
    }

    .ms-page-title {
        margin-bottom: $space * 0.5;
    }

    .ms-btn {
        flex-shrink: 0;
    }

    &__metadata {
        display: flex;
        gap: $space * 2;
        margin-top: $space;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: breakpoint-desktop) {
}
