/**
 * INVASIVE BANNER
 *
 * .
 */

/* ------------------------------------ *\
    #INVASIVE BANNER
\* ------------------------------------ */
.ms-invasive-banner {
    display: flex;
    flex-direction: row;
    gap: $space;
    align-items: center;
    justify-content: center;

    padding: $space * 1 $space * 2;
    background-color: var(--color-warning-light);
    border-bottom: 2px solid var(--color-warning);

    &__text.ms-body-text {
        margin-bottom: 0;
        font-size: $font-size-xs-fluid;
        color: #bf8423; // var(--color-text);
        font-weight: $font-weight-bold;
        line-height: 1.25;
    }

    .ms-btn {
        flex-shrink: 0;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: 1020px) {
    .ms-invasive-banner {
        flex-direction: row;
        align-items: center;
        gap: $space * 2;
    }
}
