/**
 * INVASIVE BANNER
 *
 * .
 */

/* ------------------------------------ *\
    #INVASIVE BANNER
\* ------------------------------------ */
.ms-invasive-banner {
    padding: $space * 2;
    background-color: var(--color-warning-light);
    border-bottom: 2px solid var(--color-warning);

    &__text.ms-body-text {
        color: var(--color-text);
        font-weight: $font-weight-bold;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: 1020px) {
    .ms-invasive-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $space * 2;

        &__text.ms-body-text {
            margin: 0;
        }
    }
}
