/**
 * LAST UPDATE
 *
 * Component that displayes the last updated of the forecast.
 */

/* ------------------------------------ *\
    #LAST UPDATE
\* ------------------------------------ */
.ms-last-update {
    display: flex;
    gap: $space * 1;
    // flex-direction: column;
    align-items: center;
    justify-content: center;

    &__last-update {
        // display: inline;
        white-space: nowrap;
        line-height: 1;
    }
    &__next-update {
        // display: inline;
        white-space: nowrap;
        line-height: 1;
    }
    &__label {
        font-weight: $font-weight-bold;
        font-size: $font-size-xxs-fluid;
        color: var(--color-text-light);
    }
    &__value {
        font-size: $font-size-xxs-fluid;
        color: var(--color-text-light);
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
