/**
 * LIST
 *
 * List component to repeat components.
 */

/* ------------------------------------ *\
   #LIST
\* ------------------------------------ */
.ms-list {
    &__load-more-btn {
        display: flex;
        margin: $space * 1 auto 0;
    }

    // Button to take all columns
    // ...grid item fill all the available space by spanning all the columns in the grid, regardless of the number of columns
    &__load-more-btn {
        grid-column: 1 / -1;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
