/**
 * MAP TOOLTIP
 *
 * OSM map tooltip.
 *
 */

// .leaflet-container .ms-map-tooltip .leaflet-popup-content > div

/* ------------------------------------ *\
   #MAP-TOOLTIP
\* ------------------------------------ */
.leaflet-container .ms-map-tooltip {
    font-family: var(--font-family-main);

    .leaflet-popup-content-wrapper {
        padding-top: $space * 1.5;
        padding-bottom: $space * 1.5;
        border-radius: $border-radius;
        @include card-box-shadow;
    }

    .leaflet-popup-content-wrapper {
        border-radius: $border-radius;
    }

    .leaflet-popup-tip {
        @include card-box-shadow;
    }

    .leaflet-popup-content {
        margin: 0;
    }

    &__content {
        display: block;
        padding: 0;
        margin: 0 $space * 3.5 0 $space * 1.5;
        cursor: pointer;

        &:hover {
            .ms-map-tooltip__title {
                color: var(--color-text-link);
            }
        }
    }

    &__detail {
        display: block;
    }

    &__title {
        margin-bottom: $space/2;
        font-weight: $font-weight-bold;
        font-size: $font-size-s-fluid;
        color: var(--color-text);
    }

    &__details {
        font-size: $font-size-xs-fluid;
        color: var(--color-text);

        .ms-label-value {
            display: block;
            span {
                font-size: $font-size-xxs-fluid;
                text-transform: capitalize;
            }
        }
    }

    // Close
    a.leaflet-popup-close-button {
        top: $space + 0.5;
        right: $space + 0.5;
        span {
            font-size: $font-size-l-fluid;
        }

        &:hover {
            color: var(--color-text-link);
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
