/**
 * MODAL
 *
 * Generic style form modals
 */

// Note 27 April 2022: from bottom Modal disabled because of issues with VH in Safari browser.

/* ------------------------------------ *\
   #MODAL STRUCTURE
\* ------------------------------------ */
.ms-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: $z-index-modal;

    // The actual modal dialog.
    &__window {
        position: fixed;
        display: flex;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        // top: 100vh; // Below the screen
        background-color: $modal-bg-color;
    }

    // Toggles visibility.
    &.is-visible {
        display: flex;
        .ms-modal__window {
            // top: 0;
        }

        // Body of the modal.
        .ms-modal__body {
            padding: $space * 3;
        }
    }
}

/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.ms-modal {
    // Overlay: only when visible.
    & .ms-modal__overlay {
        display: none;
        opacity: 0.85;
        // opacity: 0;
        // transition: opacity 1s;
    }

    // When starts fading out, set opacity to 0.
    &.is-fading-out .ms-modal__overlay {
        // opacity: 0;
    }

    // When visible (and not fading out), set opacity to visible.
    &.is-visible:not(.is-fading-out) .ms-modal__overlay {
        // opacity: 0.85;
    }

    &.is-visible .ms-modal__overlay {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-gray-00);
    }
}

/* ------------------------------------ *\
   #MODAL FROM BOTTOM
\* ------------------------------------ */
/*
.ms-modal.is-from-bottom {
    // The actual modal dialog.
    .ms-modal__window {
        display: block;
        height: calc(90vh - var(--ios-status-bar-margin)); // iOS spacing.
        border-radius: $space * 3 $space * 3 0 0;
        box-shadow: $modal-from-bottom-box-shadow;
        transition: all 0.5s; // Must match setTimeout time parameter in src/features/modal/Modal.tsx.
    }

    .ms-modal__content {
        max-height: calc(90vh - var(--ios-status-bar-margin)); // iOS spacing.
    }

    // Toggles visibility.
    &.is-visible {
        .ms-modal__window {
            top: 0;
        }

        // Body of the modal.
        .ms-modal__body {
            padding: $space * 3;
        }

        .ms-modal__content-scroll {
            padding-bottom: calc(#{$space} * 3 + 50px);
        }
    }
}
*/

/* ------------------------------------ *\
   #CLOSE-BUTTON
\* ------------------------------------ */
.ms-modal {
    // Close button.
    &__close {
        position: absolute;
        z-index: $z-index-modal;
        top: calc(#{$space} * 3 + var(--ios-status-bar-margin)); // iOS spacing.
        right: $space * 3;
        cursor: pointer;

        .mondo-icon {
            font-size: $font-size-xxl;
            color: var(--color-text-light);
        }
        &:hover {
            .mondo-icon {
                color: var(--color-text-link);
            }
        }
    }
}

/* ------------------------------------ *\
   #MODAL CONTENTS
\* ------------------------------------ */
.ms-modal {
    &__content {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        max-height: 100vh;
    }

    &__content-scroll {
        display: flex;
        flex-direction: column;
        flex: auto;
        margin: var(--ios-status-bar-margin) 0 var(--ios-bottom-bar-margin) 0; // iOS spacing.
    }

    // Header.
    &__header {
        padding: $space * 3 $space * 8 0 $space * 3;
    }

    // Body.
    &__body {
        padding: 0;
    }

    &__text.ms-body-text:not(:last-child) {
        margin-bottom: $space * 3;
    }

    // Footer.
    &__footer {
        margin-top: auto;
        padding: 0 $space * 3 $space * 3 $space * 3;
    }

    // Contents formatting.
    &__inner-title {
        margin-bottom: $space * 1;
        font-size: $font-size-m;
        font-weight: $font-weight-bold;
    }
}

// Specifics for non from-bottom modal.
/*
.ms-modal:not(.is-from-bottom) {
    .ms-modal__content-scroll {
        padding-top: var(--ios-status-bar-margin); // iOS spacing.
    }
    .ms-modal__close {
        top: calc(#{$space} * 2 + var(--ios-status-bar-margin)); // iOS spacing.
    }
}
*/

/* ------------------------------------ *\
   #BUTTONS
\* ------------------------------------ */
.ms-modal {
    &__footer {
        display: flex;
        flex-direction: column;
        gap: $space * 1.5;

        .ms-btn {
            width: 100%;
        }
    }
}

/* ------------------------------------ *\
   #CENTERED-MODAL-BODY
\* ------------------------------------ */
.ms-modal.ms-modal-content-centered {
    // Body.
    .ms-modal__body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* ------------------------------------ *\
   #TIDE-TABLE-MODAL
\* ------------------------------------ */
.ms-modal.ms-modal-tide-table {
    .ms-modal__body {
        padding: $space * 3 $space * 0.5;
    }

    .ms-tide-table-weekly-levels {
        margin: 0 $space * 3 $space * 3 $space * 3;
    }
}

/* ------------------------------------ *\
   #EXIT-APP-MODAL
\* ------------------------------------ */
.ms-modal.ms-modal-exit-app {
    .ms-modal__text {
        margin-bottom: 0;
    }

    .ms-modal__footer {
        .ms-btn {
            width: 100%;
        }

        .ms-btn:not(:last-child) {
            margin-bottom: $space * 2;
        }
    }
}

/* ------------------------------------ *\
   #FULL_FORECAST
\* ------------------------------------ */
.ms-modal.ms-modal-full-forecast {
    .ms-modal__header {
        padding-left: $space * 2;
        padding-right: $space * 2;
    }

    .ms-modal__header-title {
        font-size: $font-size-l-fluid;
    }

    .ms-modal__body {
        padding: $space * 2;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
    .ms-modal,
    .ms-modal.is-from-bottom {
        display: none;
        /* position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; */
        align-items: center;

        // Modal window.
        .ms-modal__window {
            display: flex;
            position: relative;
            right: auto;
            bottom: auto;
            left: auto;
            top: auto !important; // Overwrites the inline top
            height: auto;
            max-width: 650px;
            max-height: 90vh;
            margin: 0 auto;
            box-shadow: $modal-box-shadow;
            border-radius: $space;
        }

        &.is-visible .ms-modal__content-scroll {
            padding-bottom: 0;
        }
    }

    // Buttons.
    .ms-modal {
        &__footer {
            flex-direction: row-reverse;
            justify-content: space-between;
            .ms-btn {
                width: auto;
            }
        }
    }

    .ms-modal.is-visible {
        display: flex;
    }

    // Tide modal.
    .ms-modal.ms-modal-tide-table {
        .ms-tide-table-days {
            margin: 0 $space * 3 0 $space * 3;
        }
    }

    // Full forecast modal
    .ms-modal.ms-modal-full-forecast {
        .ms-modal__window {
            min-width: 900px;
        }

        .ms-modal__header {
            padding-left: $space * 3;
            padding-right: $space * 3;
        }

        .ms-modal__body {
            padding: $space * 3;
        }
    }

    // iOS (iPad).
    .is-ios {
        .ms-modal {
            // Header.
            &__header {
                padding-top: $space * 4.5;
            }

            // Close button.
            &__close {
                top: $space * 4.5;
            }
        }
    }
}

/* ------------------------------------ *\
   #DOCUMENTATION
\* ------------------------------------ */
/*

<button class="ms-btn" data-modal-id="ms_modal_forecast_settings">
    <?php esc_html_e('forecast settings', 'mondosurf'); ?>
</button>

<div class="ms-modal" id="ms_modal_forecast_settings">
    <div class="ms-modal__overlay"></div>
    <div class="ms-modal__window">
        <div class="ms-modal__close">
            <span class="mondo-icon-times"></span>
        </div>
        <div class="ms-modal__content">
            <div class="ms-modal__content-scroll">
                <div class="ms-modal__header">
                    <h3 class="ms-modal__header-title"></h3>
                </div>
                <div class="ms-modal__body">
                    <?php get_template_part( 'components/forecast-settings-table', null, array( "forecast_days"=>$spot_forecast->days ) ); ?>
                </div>
                <div class="ms-modal__footer"></div>
            </div>
        </div>
    </div>
</div>

*/
