/**
 * PROFILE VERIFY ACCOUNT CTA
 *
 * Reminds the user to verify the account.
 */

/* ------------------------------------ *\
    #PROFILE VERIFY ACCOUNT CTA
\* ------------------------------------ */
.ms-profile-verify-account-cta {
    padding: $space * 1.5;
    margin: 0 0 $space * 2 0;
    border: 2px solid var(--color-error);
    background-color: var(--color-error-background);
    border-radius: $border-radius * 2;

    &__text {
        margin: 0 0 $space/2 0;
        font-size: $font-size-s-fluid;
        font-weight: $font-weight-bold;
        color: var(--color-error);
    }

    &__subtext {
        margin: 0 0 $space/2 0;
        color: var(--color-text);
        font-size: $font-size-s-fluid;
    }

    &__btn {
        padding: 0;
        margin: 0;
        font-size: $font-size-s-fluid;
        background-color: transparent;
        border: 0;
        text-decoration: underline;
        cursor: pointer;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
