/**
 * PRO FEATURES
 *
 * List of the features of the Pro account.
 */

/* ------------------------------------ *\
    #PRO FEATURES
\* ------------------------------------ */
.ms-pro-features-list {
    display: inline-block;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;

    &__item {
        margin: 0;
    }
    &__item:not(:last-child) {
        margin: 0 0 $space * 0.5 0;
    }
    &__icon {
        margin: 0 $space * 2 0 0;
    }
    &__text {
        color: var(--color-text);
        font-weight: $font-weight-normal;
        line-height: 1.45;
        font-size: $font-size-m-fluid;
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: breakpoint-desktop) {
}
