/**
 * PRO MODAL
 *
 * Modal page with details on the Pro plan and call to actions.
 */

/* ------------------------------------ *\
    #PRO
\* ------------------------------------ */
.ms-pro {
    .ms-btn {
        margin-bottom: $space * 2;
    }

    .ms-pro-features-list {
        margin-bottom: $space * 3;

        &__item {
            margin-bottom: $space * 0.5;
        }

        &__icon {
            margin-right: $space;
        }
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
