/**
 * SURF SPOT METEO STATION
 *
 * Style for the component displaying the link for a meteo station with link.
 */

/* ------------------------------------ *\
    #SURF SPOT METEO STATION
\* ------------------------------------ */
.ms-surf-spot-meteo-station {
    &__thumb {
        position: relative;
        overflow: hidden;
        margin-bottom: $space;
        aspect-ratio: 2 / 1;
        border-radius: $border-radius;
    }
    &__thumb-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        @include font-size('s');
    }
}

/* ------------------------------------ *\
    #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: breakpoint-desktop) {
}
