/**
 * TIDE-TABLE-DAYS
 *
 * Table with the details of the tide for each day.
 */

/* ------------------------------------ *\
   #TIDE-TABLE-DAYS
\* ------------------------------------ */
.ms-tide-table-days {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color-border-normal;

    td {
        padding: 0;
        border: 1px solid $color-border-normal;
        color: var(--color-text);
        text-align: center;
        @include font-size('xs');
    }

    td.ms-tide-table-days__date {
        padding: $space/2;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        @include font-size('xxs');
    }

    &__values {
        padding: 0;
    }

    &__good-moments {
        border-bottom: 1px solid $color-border-normal;
    }

    &__good-moments-text {
        padding: $space $space/2;
        margin: 0;
        line-height: 1.3;
        @include font-size('xs');
        @include first-letter-capital;
    }

    &__details {
        width: 100%;
        border-collapse: collapse;
        // border-top: 1px solid $color-border-normal;

        tr {
            display: flex;
        }

        td {
            flex-basis: 25%;
            flex-grow: 0;
            padding: 4px;
            border-right: 1px solid $color-border-normal;
            border-bottom: 0;
            border-left: 0;
            border-top: 0;

            &:first-child {
                border-left: 0;
            }

            &:last-child {
                border-right: 0;
            }

            &.is-high {
                background-color: $color-background-light;
            }
        }
    }

    &__details-main-info {
        display: block;
        font-size: $font-size-s;
    }

    &__icon {
        display: block;
    }

    &__size {
        display: block;
        @include font-size('xs');
        color: var(--color-text-light);
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}
