/**
 * ASTRONOMY-TABLE
 *
 * Table displaying astronomy details of a surf spot.
 */

/* ------------------------------------ *\
   #ASTRONOMY-TABLE
\* ------------------------------------ */
.ms-tide-day-table {
    width: 100%;
    margin-bottom: $space*2;
    border-collapse: collapse;
    border: 2px solid $color-border-normal;
    border-radius: $border-radius/2;

    td {
        padding: $space/2;
        border: 2px solid $color-border-normal;
        font-size: $font-size-s;
        color: var(--color-text);

        &:first-child {
            text-align: center;
            width: 24px;
        }
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (min-width: $breakpoint-desktop) {
}