//
// COLORS
//
// All the colors used by the application.
//

// ------------------------------------ //
// CSS COLORS
// ------------------------------------ //
:root {
    // Margin to add on top to avoid overlapping with the iPhone status bar.
    --ios-status-bar-margin: 0px;
    --ios-bottom-bar-margin: 0px;
}

.is-ios {
    --ios-status-bar-margin: env(safe-area-inset-top);
    --ios-bottom-bar-margin: env(safe-area-inset-bottom);
}
