//
// VARIABLES
//
// Definition of default Mondo Surf variables
//

// ------------------------------------ //
// #FLUID SIZE FUNCTION
// ------------------------------------ //
@function fluid-size($min-value-px, $max-value-px, $min-vw-px: 320, $max-vw-px: 1140) {
    $min-value: ($min-value-px / 16) * 1rem;
    $max-value: ($max-value-px / 16) * 1rem;
    $min-vw: ($min-vw-px / 16) * 1rem;
    $max-vw: ($max-vw-px / 16) * 1rem;
    $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
    $calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

    @return clamp(
        #{if($min-value > $max-value, $max-value, $min-value)},
        #{$calc-value},
        #{if($min-value > $max-value, $min-value, $max-value)}
    );
}

/* @font-face {
    font-family: 'BrandonRegular';
    src: url('../fonts/typography/BrandonGrotesque-Regular.eot');
    src:
        url('../fonts/typography/BrandonGrotesque-Regular.eot') format('embedded-opentype'),
        url('../fonts/typography/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/typography/BrandonGrotesque-Regular.woff') format('woff'),
        url('../fonts/typography/BrandonGrotesque-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonBold';
    src: url('../fonts/typography/BrandonGrotesque-Bold.eot');
    src:
        url('../fonts/typography/BrandonGrotesque-Bold.eot') format('embedded-opentype'),
        url('../fonts/typography/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/typography/BrandonGrotesque-Bold.woff') format('woff'),
        url('../fonts/typography/BrandonGrotesque-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonBlack';
    src: url('../fonts/typography/BrandonGrotesque-Black.eot');
    src:
        url('../fonts/typography/BrandonGrotesque-Black.eot') format('embedded-opentype'),
        url('../fonts/typography/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/typography/BrandonGrotesque-Black.woff') format('woff'),
        url('../fonts/typography/BrandonGrotesque-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700;9..40,900&display=swap');

// ------------------------------------ //
// #CSS-PROPERTIES
// ------------------------------------ //
:root {
    // Font.
    /*
    --font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-headings: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial,
        sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
        */
    // --font-family-main: Arial, sans-serif;
    // --font-family-headings: Arial, sans-serif;
    // --font-family-main: "BrandonRegular", Arial, sans-serif;
    // --font-family-headings: "BrandonBold", Arial, sans-serif;
    // --font-family-main: "Hanken Grotesk", Arial, sans-serif;
    // --font-family-headings: "Hanken Grotesk", Arial, sans-serif;
    // --font-family-main: "Manrope", Arial, sans-serif;
    // --font-family-headings: "Manrope", Arial, sans-serif;
    --font-family-main: 'DM Sans', Arial, sans-serif;
    --font-family-headings: 'DM Sans', Arial, sans-serif;

    // Charts font size.
    --chart-direction-label-size: 10px;
    --chart-bar-label-size: 11px;
    --chart-bar-label-size-small: 10px;
    --chart-line-label-size: 11px;
}

// ------------------------------------ //
// #SPACING-UNIT
// ------------------------------------ //
$space: 8px;

// ------------------------------------ //
// #GRIDS
// ------------------------------------ //
$grid-gutter-h: $space * 1.5;
$grid-gutter-v: $space * 1.5;
$grid-gutter-mobile-h: $space * 1.5;
$grid-gutter-mobile-v: $space * 1;

// ------------------------------------ //
// #LAYOUT
// ------------------------------------ //
$page-width-wide: 1680px;
$page-max-width: 1024px;
$page-max-medium-width: 780px;
$page-narrow-max-width: 400px;
$mobile-top-margin: $space * 3;

// ------------------------------------ //
// #FONTS-IMPORT
// ------------------------------------ //
// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900');

// ------------------------------------ //
// TYPOGRAPHY
// ------------------------------------ //
// $font-family-main: Helvetica, Arial, sans-serif;
// $font-family-headings: Helvetica, Arial, sans-serif; // TrueNorth-Regular, 'Rubik', sans-serif; // 'Rubik', sans-serif;
// $font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-headings: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-xxxl: 36px;
$font-size-xxl: 28px;
$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-m: 15px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;

$font-size-xxxxl-fluid: fluid-size(48, 60); // Used for emoji
$font-size-xxxl-fluid: fluid-size(36, 48); // clamp(32px, calc(1rem + 1.5vw), 48px);
$font-size-xxl-fluid: fluid-size(28, 42); // clamp(26px, calc(1rem + 1.5vw), 42px);
$font-size-xl-fluid: fluid-size(24, 34); // clamp(22px, calc(1rem + 1.5vw), 28px);
$font-size-l-fluid: fluid-size(18, 21); // clamp(17px, calc(1rem + 1.2vw), 24px);
$font-size-m-fluid: fluid-size(16, 18); // clamp(14px, calc(1rem + 1.2vw), 18px);
$font-size-s-fluid: fluid-size(14, 16); // clamp(1rem, calc(1rem + 1.2vw), 20px);
$font-size-xs-fluid: fluid-size(13, 14); // clamp(11px, calc(1rem + 1.2vw), 14px);
$font-size-xxs-fluid: fluid-size(11, 12); // clamp(10px, calc(1rem + 1.2vw), 12px);
$font-size-xxxs-fluid: fluid-size(10, 11); // clamp(10px, calc(1rem + 1.2vw), 12px);

// Font weight
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// ------------------------------------ //
// #MEDIA-QUERIES-BREAKPOINT
// ------------------------------------ //
$breakpoint-desktop: 768px;

// ------------------------------------ //
// COLORS
// ------------------------------------ //

// Borders
$color-border-light: var(--color-gray-02);
$color-border-normal: var(--color-gray-03);
$color-border-dark: var(--color-gray-04);

// Backgrounds, shadows
$color-background-base: var(--color-gray-00);
$color-background-ultralight: var(--color-gray-01);
$color-background-mediumlight: var(--color-gray-01-05);
$color-background-light: var(--color-gray-02);
$color-background-medium: var(--color-gray-03);
$color-background-dark: var(--color-gray-06);

// ------------------------------------ //
// #COMMON-HEIGHTS
// ------------------------------------ //
$height-common-xs: fluid-size(24, 28); // 20px;
$height-common-s: fluid-size(28, 32); // 26px;
$height-common-m: fluid-size(36, 40); // 30px;
$height-common-l: fluid-size(44, 48); // 44px;
$height-common-xl: fluid-size(48, 56); // 52px;

// ------------------------------------ //
// #BORDER-RADIUS
// ------------------------------------ //
$border-radius-soft: 3px;
$border-radius: 6px;
$border-radius-hard: 12px;

// ------------------------------------ //
// #TRANSITIONS
// ------------------------------------ //
$transition-durations: 0.2s;

// ------------------------------------ //
// #BUTTONS
// ------------------------------------ //
$button-border-width: 0;
$button-border-radius: 6px;

$button-small-height: $height-common-s;
$button-normal-height: $height-common-m;
$button-large-height: $height-common-l;
$button-xlarge-height: $height-common-xl;

// Normal button
$color-button-text: var(--color-text);
$color-button-text-hover: var(--color-text-link);
// $color-button-text-disabled: var(--color-text);
$color-button-bg: var(--color-gray-00); // var(--color-gray-01);
$color-button-bg-hover: var(--color-gray-00); // var(--color-gray-02);
// $color-button-bg-disabled: var(--color-gray-02);
$color-button-border: var(--color-text); // var(--color-gray-03);
$color-button-border-hover: var(--color-text-link);
// $color-button-border-disabled: var(--color-gray-04);

// Light button (no background or border, only text)
$color-button-light-text: var(--color-text);
$color-button-light-text-hover: var(--color-text-inverse-hover);
$color-button-light-text-disabled: var(--color-text);
$color-button-light-bg: var(--color-gray-01);
$color-button-light-bg-hover: var(--color-gray-02);
$color-button-light-bg-disabled: var(--color-gray-01);
$color-button-light-border: var(--color-gray-03);
$color-button-light-border-hover: var(--color-gray-03);
$color-button-light-border-disabled: var(--color-gray-02);

// Call to action button
$color-button-cta-text: var(--color-text-inverse);
$color-button-cta-text-hover: var(--color-text-inverse);
// $color-button-cta-text-disabled: var(--color-text-inverse);
$color-button-cta-bg: var(--color-first);
$color-button-cta-bg-hover: var(--color-first-dark);
// $color-button-cta-bg-disabled: rgba(var(--color-first), 1);
$color-button-cta-border: var(--color-first-dark);
$color-button-cta-border-hover: var(--color-first-dark);
// $color-button-cta-border-disabled: var(--color-first-dark);

// Warning button
$color-button-warn-text: var(--color-text-inverse);
$color-button-warn-text-hover: var(--color-text-inverse);
$color-button-warn-text-disabled: var(--color-text-inverse);
$color-button-warn-bg: var(--color-error);
$color-button-warn-bg-hover: var(--color-error-dark);
$color-button-warn-bg-active: var(--color-error-dark);
$color-button-warn-bg-disabled: rgba(var(--color-error), 0.5);

$color-button-warn-border: var(--color-error-dark);

// ------------------------------------ //
// #HEADER
// ------------------------------------ //
$header-height: 50px;
$header-height-desktop: 80px;

// ------------------------------------ //
// TAB BAR
// ------------------------------------ //
$mobile-tab-bar-color-background: $color-background-base;

// ------------------------------------ //
// BREADCRUMBS
// ------------------------------------ //
$breadcrumbs-mobile-height: 30px;

// ------------------------------------ //
// FLOATING-HEAD
// ------------------------------------ //
$floating-head-height: 140px;

// ------------------------------------ //
// #FOOTER
// ------------------------------------ //
$footer-background-color: $color-background-mediumlight;

// ------------------------------------ //
// #HELP
// ------------------------------------ //
$help-bg-color: var(--color-first);
$help-header-bg-color: var(--color-first);
$help-border-color: var(--color-first);
$help-text-color: var(--color-text);
$help-header-text-color: var(--color-first);

// ------------------------------------ //
// IMAGES
// ------------------------------------ //
$image-border-radius: 4px;

// ------------------------------------ //
// #FORMS
// ------------------------------------ //
$form-input-height: $height-common-l;
$form-input-small-height: $height-common-s;
$form-mandatory-asterisk-color: var(--color-text-link);
$form-input-placeholder-color: var(--color-gray-04);
$form-border-radius: 4px;
$form-checkbox-size: $height-common-s;
$form-checkbox-small-size: $height-common-xs;

// ------------------------------------ //
// Z-INDEX
// ------------------------------------ //
$z-index-base: 400;

/* Higher level: ms, ms-footer, ms-debug-button, ms-modal, toaster */
$z-index-ms: $z-index-base;

$z-index-floating-head: $z-index-base + 50;
$z-index-spots-charts: $z-index-base + 60;
$z-index-header: $z-index-base + 70;
$z-index-chart-days-nav: $z-index-base + 80;
$z-index-mobile-tab-bar: $z-index-base + 90;
$z-index-map-page: $z-index-base + 100;
$z-index-map-copyright: $z-index-base + 110;
$z-index-filters-toggle: $z-index-base + 120;
$z-index-map-center-button: $z-index-base + 130;
$z-index-map-zoom-buttons: $z-index-base + 140;
$z-index-filters: $z-index-base + 150;
$z-index-modal: $z-index-base + 160;
$z-index-debug: $z-index-base + 170;
// Toaster is 9999!

// ------------------------------------ //
// #LOADER
// ------------------------------------ //
$loader-size: 35px;
$loader-thickness: 4px;
$loader-color-front: var(--color-gray-05);
$loader-color-back: var(--color-gray-03);

$loader-btn-color: var(--color-text-inverse);
$loader-btn-width: 26px;
$loader-btn-height: 26px;

// ------------------------------------ //
// #MODAL
// ------------------------------------ //
$modal-bg-color: $color-background-base;
$modal-box-shadow: 0 $space * 0.5 $space * 0.5 rgba(#000000, 0.08), 0 $space * 0.5 $space * 1 rgba(#000000, 0.08),
    0 $space * 0.5 $space * 2 rgba(#000000, 0.08), 0 $space * 0.5 $space * 6 rgba(#000000, 0.08);
$modal-from-bottom-box-shadow: 0 (-$space * 0.5) $space * 0.5 rgba(#000000, 0.04),
    0 (-$space * 0.5) $space * 2 rgba(#000000, 0.04), 0 (-$space * 0.5) $space * 4 rgba(#000000, 0.04),
    0 (-$space * 0.5) $space * 6 rgba(#000000, 0.04);
$modal-width: 500px;

// ------------------------------------ //
// #HOME-SEARCH/HERO
// ------------------------------------ //
$home-advanced-search-height: 40px;
$header_media-height: 450px;

// ------------------------------------ //
// DROPDOWN
// ------------------------------------ //
$dropdown-height: 36px;

// ------------------------------------ //
// PAGINATION
// ------------------------------------ //
$pagination-item-size: 40px;

// ------------------------------------ //
// PHOTO-GALLERY
// ------------------------------------ //
$photo-gallery-height: 400px;
$photo-gallery-height-mobile: 300px;
$photo-gallery-thumbs-width: 140px;

// ------------------------------------ //
// TABS
// ------------------------------------ //
$tab-height: 44px;

// ------------------------------------ //
// #MAP
// ------------------------------------ //
$map-control-size: 44px;
$map-control-margin: 8px;
$map-background-color: var(--color-gray-05);
$map-cluster-size: 34px;

// ------------------------------------ //
// #GOOD-DAY
// ------------------------------------ //
$good-day-bar-height: 5px;

// ------------------------------------ //
// #FORECAST-CHART
// ------------------------------------ //
$forecast-chart-width: 960px;
$forecast-chart-day-separator-color: var(--color-gray-06);
$forecast-chart-day-separator-width: 1px;
$forecast-chart-hour-separator-color-top: transparent;
$forecast-chart-hour-separator-color-bottom: transparent;
$forecast-chart-hour-separator-color-vertical: var(--color-gray-02);
$forecast-chart-now-color: var(--color-warning);
$forecast-chart-night-color: var(--color-gray-03);
$forecast-chart-good-day-bar-height: $good-day-bar-height;
$forecast-chart-good-day-bar-default-color: var(--color-gray-02);

// ------------------------------------ //
// #SURF SPOT FORECAST DAYS NAV
// ------------------------------------ //
$ms-spot-forecast-days-nav-width: 60px;
$ms-spot-forecast-days-nav-height: 36px;
$ms-spot-forecast-days-nav-width-desktop: 64px;
$ms-spot-forecast-days-nav-height-desktop: 32px;

// ------------------------------------ //
// #SURF SPOT FORECAST DAYS NAV
// ------------------------------------ //
$surf-spot-forecast-days-nav-height: 60px;
