//
// COLORS
//
// All the colors used by the application.
//

// ------------------------------------ //
// CSS COLORS
// ------------------------------------ //
:root {
    // Gray scale
    --color-gray-00: #ffffff;
    --color-gray-01: #f9fafb;
    --color-gray-01-05: #eeeff2;
    --color-gray-02: #e5e6e9;
    --color-gray-03: #dddee1;
    --color-gray-04: #bbbec3;
    --color-gray-05: #7d8189;
    --color-gray-06: #4b4e53;

    // Text colors
    --color-text: #4b4e53;
    --color-text-light: #828791;
    --color-text-inverse: #ffffff;
    --color-text-link: #406fcb;
    --color-text-hover: #2d529a;
    --color-text-visited: #2d529a;
    --color-text-form-placeholder: #a5a8ad;
    --color-titles: #4b4e53;

    // Main colors
    --color-first: #406fcb; //#00aced;
    --color-first-dark: #234280;
    --color-second: #2d529a;
    --color-third: #6bcc95;

    // Alerts and notifications.
    --color-favourites: #ea4c89;
    --color-favourites-rgb: 234, 76, 137;
    --color-error: #ff643f;
    --color-error-rgb: 255, 100, 63;
    --color-error-background: #fff3f0;
    --color-error-dark: #cf3c18;
    --color-warning: #febe53;
    --color-success: #45c46f;
    --color-success-rgb: 74, 206, 133;

    // Forecast
    --color-forecast-poor: #86e090;
    --color-forecast-good: #45c46f;
    --color-forecast-very-good: #1e8f4e;
    --color-forecast-epic: #0d3a24;

    // Charts-colors
    --color-chart-swell: #406fcb;
    --color-chart-wind: #00aced;
    --color-chart-period: #febe53;
    --color-chart-tide: #406fcb;
    --color-chart-pie-aframe: #406fcb;
    --color-chart-pie-right: #48c0df;
    --color-chart-pie-left: #55ce96;
    --color-chart-pie-sand: #e7be4e;
    --color-chart-pie-sand-rocks: #a5e74e;
    --color-chart-pie-rocks: #b97c37;
    --color-chart-pie-rocks-sand: #8ac07d;
    --color-chart-pie-reef: #55cace;
    --color-chart-pie-reef-sand: #4971e0;
    --color-chart-pie-boulders: #ce6d55;
    --color-chart-pie-cobbles: #aca49f;

    // Social colors.
    --color-facebook: #4267b2;
    --color-facebook-hover: #2c4c8b;
    --color-whatsapp: #01e675;
    --color-whatsapp-hover: #00c563;
    --color-twitter: #00aced;
    --color-google: #db3236;
}

// ------------------------------------ //
// OTHER PROPERTIES
// ------------------------------------ //
:root {
    --desktop-breakpoint: 768;
}
